<div class="card">
    <div class="card-body">
    <!--<div class="container">
        <form method="post" #addForm="ngForm" (ngSubmit)="onSubmit(addForm.value)">
            <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
            <input type="submit" value="Add Sub Admin" class="btn btn-outline-dark">
        </form>
    </div>-->
        <form #subForm="ngForm" (ngSubmit)="subForm.form.valid && onSubmit(subForm.value)" enctype="multipart/form-data" [mustMatch]="['password', 'confirmPassword']">
            <div>
                <app-first-last-name></app-first-last-name>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Select Image</label>
                        <div class="input-group input-group-sm">
                            <input type="file" name="image" id="file" class="upload"  (change)="fileUpload($event)" requireFile>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-confirm-and-password></app-confirm-and-password>
            </div>

            <br>
            <div>
                <input type="submit" value="Save" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>