<div class="row">
    <div class="col-6">
        <div class="from-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="editDetails['password']" placeholder="Please Enter a Password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%])(?=[^^&*()_\+]*$).{6,}" required minlength="6">
            <div *ngIf="subForm?.submitted && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors?.required" ngClass="password.errors?.required">Password is Required</div>
                <div *ngIf="password.errors?.required" ngClass="password.errors?.minlength">Password Length Should be minimum 6 character</div>
                <div *ngIf="password.errors?.pattern" ngClass="password.errors?.pattern">Password Contain a One Small and Capital And number and special character not Contain ^&*()_+</div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="from-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="editDetails['confirmPassword']" placeholder="Please Enter a Password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%])(?=[^^&*()_\+]*$).{6,}" required minlength="6">
            <div *ngIf="subForm?.submitted && confirmPassword.invalid" class="alert alert-danger">
                <div *ngIf="confirmPassword.errors?.required" ngClass="confirmPassword.errors.required">Confirm Password is Required</div>
                <div *ngIf="confirmPassword.errors?.required" ngClass="confirmPassword.errors.minlength">Confirm Pasword Length Should be minimum 6 character</div>
                <div *ngIf="password.errors?.pattern" ngClass="password.errors.pattern">Password Contain a One Small and Capital And number and special character not Contain ^&*()_+</div>
                <div *ngIf="confirmPassword.errors?.mustMatch" ngClass="confirmPassword.errors.mustMatch">Confirm Pasword  and Password are Not Matched</div>
            </div>
        </div>
    </div>
</div>