<div>
<div id="wrapper" class="backcolor">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="" routerLink="/dashboard">User Registration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav side-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item" *ngxPermissionsOnly="['SUPER_ADMIN' ,'ADMIN']">
                    <a class="nav-link" routerLink="/video/list" routerLinkActive="active">
                        <i class="fa fa-video-camera" aria-hidden="true"></i> Video
                    </a>
                </li>
                <li class="nav-item" *ngxPermissionsOnly="['SUPER_ADMIN']">
                    <a class="nav-link" routerLink="/subadmin/list" routerLinkActive="active">
                        <i class="fa fa-user-o" aria-hidden="true"></i> List Sub Admin
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngxPermissionsOnly="['SUPER_ADMIN' ,'ADMIN']">
                    <a class="nav-link" routerLink="/user/list" routerLinkActive="active">
                        <i class="fa fa-user" aria-hidden="true"></i> List User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/userlist/treeview" routerLinkActive="active">
                        <i class="fa fa-tree" aria-hidden="true"></i> List User Tree View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile/profile" routerLinkActive="active">
                        <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto mt-2 mt-lg-0" *ngIf="logOutButtonDisplay()">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" *ngIf="userName">{{ userName }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <div class="nav-link text-dark" routerLink="/profile/profile" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> Profile</div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link text-dark" routerLinkActive="active" (click)="openModal(logOutModal)"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #logOutModal>
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <h5 class="modal-title"><i class="fa fa-info-circle modal-icon"></i> Confirmation</h5>
            <button type="button" class="close" (click)="decline()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <p>Are you sure you want to Log Out?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="logOut()">Yes</button>
            <button type="button" class="btn btn-outline-default" (click)="decline()">No</button>
        </div>
    </div>
</ng-template>
</div>